<form>

    <!-- Markup example 1: input is inside label -->
    <label for="firstname">
        Title
        <input
        type="text"
        id="title"
        name="title"
        placeholder="First name"
        required
        />
    </label>

    <label for="lastname">
        Description
    </label>
    <textarea name="description" id="description" cols="10" rows="3"></textarea>      


  <!-- Markup example 2: input is after label -->
  <label for="markdown">Markdown</label>
  <textarea name="markdown" id="markdown" cols="30" rows="10"></textarea>    
  
  
  <!-- Button -->
  <button type="submit">Save</button>
</form>
<a href="/" class="secondary" role="button">Cancel</a>
